<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Chi siamo - Two Notes</title>
    <meta name="title" content="Two Notes"/>
    <meta name="description" content="Sito realizzato per un progetto per il corso di Tecnologie Web per realizzare un social di musica"/>
    <meta name="keywords" content="login, TwoNotes"/>
    <meta name="author" content="Stefano Dal Poz"/>
    <meta name="language" content="italian it"/>
    
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
    
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
    </div>

    <div id="error404" class="round_div shadow-div">
        <img src="../img/404errore.png"/>
        <h1>Oops..qualcosa è andato storto!</h1>
        <p>La pagina che stavi cercando non esiste più.</p>
        <p>Il contenuto non è stato trovato perché non presente sul server, 
            proveniente da un link corrotto oppure determinato da un errore di digitazione.</p>
        <a class="linkToButton" href="../index.php">Torna alla <span xml:lang="en">Home</span></a>
    </div>

    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>