<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Chi siamo - TwoNotes</title>
    <meta name="title" content="Chi siamo - TwoNotes"/>
    <meta name="description" content="Informazioni sul sito"/>
    <meta name="keywords" content="TwoNotes, post, musica"/>
    <meta name="author" content="Michele Baldisseri"/>
    <meta name="language" content="italian it"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
    
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo caratterizzato dalla scritta Two Notes Unita da due note musicali"/>
        <HEADERDESTRO/>
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola">Chi siamo</span></p>
    </div>

    <div id="menu">
        <a href="#content_aboutUs" class="screenReaderOnly">Vai al contenuto</a>

        <ul class="listaSenzaPunti">
            <li><a xml:lang="en" href="index.php">Home</a></li>
            <li>Chi siamo</li>
            <li><a href="Contatti.php">Contatti</a></li>    
        </ul>
    </div>

    <div id="content_aboutUs" class="sezione round_div shadow-div">
        <h1>Benvenuto!</h1>
        <p>
            <span xml:lang="en">TwoNotes</span> ha lo scopo di creare una comunità virtuale con la passione per la musica. L’idea nasce con lo scopo di unire due <span xml:lang="en">format</span> molto particolari e in voga nel <span xml:lang="en">web</span>: 
            <span xml:lang="en">social network</span> e forum. Prendendo gli aspetti peculiari da entrambe le parti e unendoli con la vastità che compone il mondo musicale, 
            prende vita <span xml:lang="en">TwoNotes</span>. Questa eterogeneità ha lo scopo di instaurare una <span xml:lang="en">community</span> di appassionati e fanatici da tutta Italia!
        </p>
        <p>
            Grazie a <span xml:lang="en">TwoNotes</span> ciascuno ha la possibilità di esprimere la propria opinione pubblicando contenuti sottoforma di <span xml:lang="en">post</span>. Inoltre 
            ha modo di confrontarsi con gli altri utenti riguardo gli argomenti trattati grazie alla sezione commenti, dedicata appositamente per ogni singolo <span xml:lang="en">post</span>.
        </p>
        <p>
            Buona permanenza!
        </p>
        <img src="../img/people_dance.png" alt="" />

        <a href="#menu" class="screenReaderOnly">Vai al menù</a>
    </div>
    <div id="footer">
        <img id="imgValidCode" src="../img/valid-xhtml10.png" alt=""/>
        <img id="imgValidCSS" src="../img/vcss-blue.gif" alt=""/>
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>