<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Two Notes</title>
    <meta name="title" content="Two Notes"/>
    <meta name="description" content="Sito realizzato per un progetto per il corso di Tecnologie Web per realizzare un social di musica"/>
    <meta name="keywords" content="login, TwoNotes"/>
    <meta name="author" content="Michele Baldisseri"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        <div>
            <ul>
                <li><a href="login.php" xml:lang="en">Login</a></li>
                <li>oppure</li>
                <li><a href="registrazione.php">Registrati</a></li>
            </ul>
        </div>
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola">Contatti</span></p>
    </div>

    <div id="menu">
        <ul>
            <li><a xml:lang="en" href="../index.php">Home</a></li>
            <li><a href="aboutUs.php">Chi siamo</a></li>
            <li aria-current="page">Contatti</li>
        </ul>
    </div>

    <div class="sezione contenitoreCentrale round_div shadow-div">
        <h1>Come possiamo aiutarti?</h1>
        <div>
            <h2><span xml:lang="en">E-mail</span></h2>
            <p>La nostra <span xml:lang="en">e-mail</span> è: <a href="mailto:twonotes@twonotes.it">twonotes@twonotes.it</a>.</p>
        </div>

        <div>
            <h2>Telefono</h2>
            <p>L'assistenza clienti è attiva dal lunedì al mercoledì dalle 09:00 alle 13:00 
                al seguente numero <em>049 945517</em>.</p>
        </div>
        <img src="../img/Support.png"/>
	</div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>