<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Errore - TwoNotes</title>
    <meta name="title" content="Errore - TwoNotes"/>
    <meta name="description" content="Pagina non disponibile"/>
    <meta name="keywords" content="TwoNotes"/>
    <meta name="author" content="Michele Baldisseri"/>
    <meta name="language" content="italian it"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
    
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes con due note musicali che collegano le lettere o"/>
    </div>

    <div id="error404" class="round_div shadow-div">
        <img src="../img/stop.svg" alt="Segnale di stop" id="stopSign"/>
        <h1>Errore!</h1>
        <p>Sembra che tu sia entrato in una pagina senza i permessi necessari, in una pagina non accessibile, oppure si è verificato un errore di <span xml:lang="en">database</span>.</p>
        <a class="linkToButton" href="index.php">Torna alla <span xml:lang="en">Home</span></a>
    </div>

    <div id="footer">
        <img id="imgValidCode" src="../img/valid-xhtml10.png" alt=""/>
        <img id="imgValidCSS" src="../img/vcss-blue.gif" alt=""/>
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>