<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Two Notes</title>
    <meta name="title" content="Two Notes"/>
    <meta name="description" content="Sito realizzato per un progetto per il corso di Tecnologie Web basato su un social di musica"/>
    <meta name="keywords" content="TwoNotes, post, music"/>
    <meta name="author" content="Giulio Zanatta"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="styles/stile.css?<?php echo time(); ?>" media="screen"/>
    <link rel="stylesheet" type="text/css" href="styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        <HEADERDESTRO />
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola" xml:lang="en">Home</span></p>
    </div>

    <div id="menu">
        <ul>
            <li aria-current="page" xml:lang="en">Home</li>
            <li><a href="php/aboutUs.php">Chi siamo</a></li>
            <!--<li><a href="php/profilo.php">Profilo</a></li>-->
            <li><a href="php/contatti.php">Contatti</a></li>
        </ul>
    </div>

    <div id="rightSidebar">
        <h2>Tags</h2>
        <ul>
            <li>Rock</li>
            <li>Pop</li>
            <li>EDM</li>
            <li>ecc ecc ecc</li>
            <li>da css questo div si allunga in base al contenuto</li>
            <li>possiamo mettere al limite i tag in più colonne</li>
        </ul>
    </div>

    <div>     
        <div id="search" class="round_div shadow-div">   
            <form method="post">
                <input name="contenutoRicerca" type="text"/>
                <input type="submit" id="search-button" class="round-button general-button" value="Cerca"/>           
            </form>     
            <a href="php/newPost.php" class="linkToButton alignFormButton">Crea Post</a>    
        </div>
      
        <ul class="listaPost">
            LISTAPOST
            <!--
            <li>
                <div class="postContent round_div shadow-div">
                    <h1>Nuova canzone Timmy Trumpet</h1>
                    <p>Si chiama "Paul is dead". La sto ascoltando in loop su 
                        Spotify. Che bomba! Che ne pensate?</p>
                    <img src="img/timmy.jpeg" />
                    <p class="infoPost">Pubblicato da: 
                        <a href="profiloUtente" class="linkToButton">Lele97</a>, 
                        08/12/2020 23:39 <a class="linkToButton goTo" href="php/postPage.php">Vai al post</a></p>
                </div>              
            </li>
            <li>
                <div class="postContent round_div shadow-div">
                    <h1>Nuova canzone Timmy Trumpet</h1>
                    <p>Si chiama "Paul is dead". La sto ascoltando in loop su 
                        Spotify. Che bomba! Che ne pensate?</p>
                    <img src="img/timmy" />
                    <p class="infoPost">Pubblicato da: 
                        <a href="profiloUtente" class="linkToButton">Lele97</a>, 
                        08/12/2020 23:39 <a class="linkToButton goTo" href="php/postPage.php">Vai al post</a></p>
                </div>              
            </li>
            <li>
                <div class="postContent round_div shadow-div">
                    <h1>Nuova canzone Timmy Trumpet</h1>
                    <p>Si chiama "Paul is dead". La sto ascoltando in loop su 
                        Spotify. Che bomba! Che ne pensate?</p>
                    <img src="img/timmy" />
                    <p class="infoPost">Pubblicato da: 
                        <a href="profiloUtente" class="linkToButton">Lele97</a>, 
                        08/12/2020 23:39 <a class="linkToButton goTo" href="php/postPage.php">Vai al post</a></p>
                </div>              
            </li>
            <li>
                <div class="postContent round_div shadow-div">
                    <h1>Nuova canzone Timmy Trumpet</h1>
                    <p>Si chiama "Paul is dead". La sto ascoltando in loop su 
                        Spotify. Che bomba! Che ne pensate?</p>
                    <img src="img/timmy" />
                    <p class="infoPost">Pubblicato da: 
                        <a href="profiloUtente" class="linkToButton">Lele97</a>, 
                        08/12/2020 23:39 <a class="linkToButton goTo" href="php/postPage.php">Vai al post</a></p>
                </div>              
            </li>-->
        </ul>
        
        <div>
            <!--<LISTAPOST />-->
            <!--Bottone per tornare in cima alla pagina-->
        <button id=backtotop class="round-button">Torna Su</button>
        </div>
    </div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>