<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Two Notes</title>
    <meta name="title" content="Two Notes"/>
    <meta name="description" content="Sito realizzato per un progetto per il corso di Tecnologie Web per realizzare un social di musica"/>
    <meta name="keywords" content="login TwoNotes"/>
    <meta name="author" content="Giulio Zanatta"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="styles/stile.css?<?php echo time(); ?>" media="screen"/>
    <link rel="stylesheet" type="text/css" href="styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        <HEADERDESTRO />
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola" xml:lang="en">Home</span></p>
    </div>

    <div id="menu">
        <ul>
            <li aria-current="page" xml:lang="en">Home</li>
            <li><a href="php/aboutUs.php">Chi siamo</a></li>
            <li><a href="php/contatti.php">Contatti</a></li>
        </ul>
    </div>

    <div id="rightSidebar">
        <h2>Tags</h2>
        <ul>
            <li>Rock</li>
            <li>Pop</li>
            <li>EDM</li>
            <li>ecc ecc ecc</li>
            <li>da css questo div si allunga in base al contenuto</li>
            <li>possiamo mettere al limite i tag in più colonne</li>
        </ul>
    </div>

    <div>     
        <div id="search" class="round_div shadow-div">   
            <form>
                <input type="text" placeholder="Search..">
                <button type="submit" id="search-button" class="round-button general-button">Cerca</button>
                <button id="post-btn" type="submit" class="round-button post-button general-button">
                    <a href="php/newPost.php">Crea Post</a>
                </button>
            </form>         
        </div>

        
        <ul class="listaPost">
            <li class="immaginePostProva postLi round_div shadow-div">
                <img src="img/TwoNotes-4.svg"/>
            </li>
            <li class="immaginePostProva postLi round_div shadow-div">
                <img src="img/TwoNotes-4.svg"/>
            </li>
            <li class="immaginePostProva postLi round_div shadow-div">
                <img src="img/TwoNotes-4.svg"/>
            </li>
            <li class="immaginePostProva postLi round_div shadow-div">
                <img src="img/TwoNotes-4.svg"/>
            </li>
            <li class="immaginePostProva postLi round_div shadow-div">
                <img src="img/TwoNotes-4.svg"/>
            </li>
            <li class="immaginePostProva postLi round_div shadow-div">
                <img src="img/TwoNotes-4.svg"/>
            </li>
            <li class="immaginePostProva postLi round_div shadow-div">
                <img src="img/TwoNotes-4.svg"/>
            </li>
        </ul>

        <div>
            <!--<LISTAPOST />-->
            <!--Bottone per tornare in cima alla pagina-->
        <button id=backtotop class="round-button">Torna Su</button>
        </div>
    </div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>