<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login - Two Notes</title>
    <meta name="title" content="Login - Two Notes"/>
    <meta name="description" content="Pagina di login al sito TwoNotes"/>
    <meta name="keywords" content="login, TwoNotes"/>
    <meta name="author" content="Stefano Dal Poz"/>
    <meta name="language" content="italian it"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
    <!--<script type="text/javascript" src="../js/checkLogin.js"></script>-->
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola" xml:lang="en">Login</span></p>
    </div>

    <div id="menu">
        <ul class="listaSenzaPunti">
            <li><a xml:lang="en" href="index.php">Home</a></li>
            <li><a href="aboutUs.php">Chi siamo</a></li>
            <li><a href="contatti.php">Contatti</a></li>
        </ul>
    </div>
    <div class="contenitoreCentrale round_div shadow-div login">
        <h1>Benvenuto nel social musicale</h1>
        <img src="../img/TwoNotes-4.svg" alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        <h2>ACCEDI</h2>

        <ERRORELOGIN/>

        <form id="formLogin" action="loginAction.php" method="post" onsubmit="return validateForm();">
            <label for="username" xml:lang="en">Username</label>
            <span>
                <input type="text" name="username" id="username" class="input" placeholder="Username" value="<VALUEUSERNAME/>" required="required"/>
            </span>
            
            <label for="psw" xml:lang="en">Password</label>
            <span>
                <input type="password" name="psw" id="psw" class="input" placeholder="Password" required="required"/>
            </span>
            
            <input type="submit" class="round-button general-button orange-button" value="Accedi"/>
        </form>

        <h2>NON HAI UN ACCOUNT?</h2>
        <a href="registrazione.php" id="button_register">Registrati</a>
        
    </div>
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>