<!DOCTYPE html>
<html lang="it" xml:lang="it" xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta charset="utf-8"/>
      <title>Login - TwoNotes</title>
      <meta name="description" content="Pagina di login al sito TwoNotes"/>
      <meta name="keywords" content="login, TwoNotes"/>
      <meta name="author" content="Stefano Dal Poz"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
      <link rel="stylesheet" type="text/css" href="../styles/print.css" media="print"/>
      <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="screen and (max-width:640px)"/>
      <script src="../js/checkLogin.js"></script>
    </head>

    <body>
        <div id="header">
            <a href="#formLogin" class="screenReaderOnly">Accedi al tuo <span xml:lang="en" lang="en">account</span></a>
            <h1><span xml:lang="en" lang="en">Two Notes</span></h1>
        </div>

        <div id="percorso">
            <p>Ti trovi in: <span id="breadcrumb-colore-parola" xml:lang="en" lang="en"><a class="showItem" href="index.php">Home</a> &gt; Login</span></p>
        </div>

        <div id="menu">
            <a href="#formLogin" class="screenReaderOnly">Accedi al tuo <span xml:lang="en" lang="en">account</span></a>
            <a href="#button_register" class="screenReaderOnly">Registrati</a>

            <ul class="listaSenzaPunti">
                <li><a xml:lang="en" lang="en" href="index.php">Home</a></li>
                <li><a href="aboutUs.php">Chi siamo</a></li>
                <li><a href="contatti.php">Contatti</a></li>
            </ul>
        </div>
        <div id="login" class="sezione round_div shadow-div">
            <div id="loginLeft">
                <h2>Benvenuto nel <span xml:lang="en" lang="en">social</span> musicale</h2>
                <div></div>
            </div>
            <div id="loginRight">
                <h3>Accedi</h3>
                <ERRORELOGIN/>
                <form id="formLogin" action="loginAction.php" title="Login" method="post" onsubmit="return validateForm();">
                    <div>
                        <label for="username" xml:lang="en" lang="en">Username</label>
                        <span>
                            <input type="text" name="username" id="username" class="input" placeholder="Username" value="<VALUEUSERNAME/>" required="required" tabindex="1"/>
                        </span>
                        
                        <label for="psw" xml:lang="en" lang="en">Password</label>
                        <span>
                            <input type="password" name="psw" id="psw" class="input" placeholder="Password" required="required" tabindex="2"/>
                        </span>
                        
                        <input type="submit" class="round-button general-button orange-button" value="Accedi" tabindex="3"/>
                    </div>
                </form>

                <h3>Non hai un account?</h3>
                <a href="registrazione.php" id="button_register" tabindex="4">Registrati</a>
            </div>
            
            <a href="#menu" class="screenReaderOnly">Vai al menù</a>
        </div>
        <div id="footer">
            <img id="imgValidCode" src="../img/valid-html5.png" alt="Badge di validazione HTML5"/>
            <img id="imgValidCSS" src="../img/vcss-blue.gif" alt="Badge di validazione CSS"/>
            <p>Sito creato per un progetto di Tecnologie <span xml:lang="en" lang="en">Web</span> all'Università di Padova - <span xml:lang="en" lang="en">All rights reserved</span> ©.</p>
        </div>
    </body>
</html>