<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Modifica profilo - Two Notes</title>
    <meta name="title" content="Modifica profilo - Two Notes"/>
    <meta name="description" content="Pagina per la modifica del profilo"/>
    <meta name="keywords" content="login, TwoNotes"/>
    <meta name="author" content="Michele Baldisseri"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        HEADERDESTRO
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola">Modifica Profilo</span></p>
    </div>

    <div id="menu">
        <ul class="listaSenzaPunti">
            <li><a xml:lang="en" href="../index.php">Home</a></li>
            <li><a href="aboutUs.php">Chi siamo</a></li>
            <li><a href="contatti.php">Contatti</a></li>
        </ul>
    </div>

    <div class="contenitoreCentrale allWidth smallReg">
        <div id="formBase" class="round_div shadow-div">
            <h1>Modifica il tuo profilo</h1>
            <form action="modificaProfiloAction.php" class="formRegistrazione" method="post">
                ERRORIMODIFICAPROFILO
                <fieldset>
                    <legend>Informazioni generali</legend>
                    <label for="nome" class="labelleft">Nome:</label>
                    <input type="text" name="nome" id="nome" class="input" placeholder="Nome" value="VALORENOME" maxlength="20" required>
                                        
                    <label for="cognome" class="labelleft">Cognome:</label>
                    <input type="text" name="cognome" id="cognome" class="input" placeholder="Cognome" value="VALORECOGNOME" maxlength="20"required>
                    
                    <label for="dataNascita" class="labelleft">Data di nascita:</label>
                    <input type="date" name="data" id="dataNascita" class="input" value="VALOREDATA" required>

                    <label for="sesso" class="labelleft">Sesso:</label>
                    <label for="maschio" class="inputsex">Maschio</label>                        
                    <input type="radio" id="maschio" name="gender" value="M" SELECTEDM required>
                    <label for="femmina" class="inputsex">Femmina</label>
                    <input type="radio" id="femmina" name="gender" value="F" SELECTEDF>
                    <label for="altro" class="inputsex">Altro</label>
                    <input type="radio" id="altro" name="gender" value="A" SELECTEDA>

                    <label for="provenienza" class="labelleft">Provenienza:</label>
                    <input type="text" name="provenienza" id="provenienza" class="input" placeholder="Provenienza" value="VALOREPROVENIENZA" required>
                </fieldset>
                <fieldset>
                    <legend>Account</legend>
                    <label for="username" class="labelleft">Username:</label>
                    <input type="text" name="username" id="username" class="input" placeholder="Username" value="VALOREUSERNAME" required>
                    
                    <label for="email" class="labelleft">Email:</label>
                    <input type="email" name="email" id="email" class="input" placeholder="Email" value="VALOREEMAIL" required>

                    <label for="oldpsw" class="labelleft">Vecchia password:</label>
                    <input type="password" name="oldpsw" id="oldpsw" class="input" placeholder="Vecchia password" required>
                    <label for="newpsw" class="labelleft">Nuova password:</label>
                    <input type="password" name="newpsw" id="newpsw" class="input" placeholder="Nuova password" >
                    <label for="conf-psw" class="labelleft">Conferma nuova password:</label>
                    <input type="password" name="conf-psw" id="conf-psw" class="input" placeholder="Conferma nuova password" >
                </fieldset>
                <input type="submit" class="round-button general-button" value="Salva"/>
            </form>    
            <a href="profilo.php?username=VALOREUSERNAME" id="annulla" class="linkToButton alignFormButton">Annulla</a>           
        </div>
    </div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>