<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Two Notes</title>
    <meta name="title" content="Two Notes"/>
    <meta name="description" content="Sito realizzato per un progetto per il corso di Tecnologie Web per realizzare un social di musica"/>
    <meta name="keywords" content="login, TwoNotes"/>
    <meta name="author" content="Michele Baldisseri"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola">Creazione nuovo post</span></p>
    </div>

    <div id="menu">
        <ul>
            <li><a xml:lang="en" href="../index.php">Home</a></li>
            <li><a href="aboutUs.php">Chi siamo</a></li>
            <li><a href="contatti.php">Contatti</a></li>
        </ul>
    </div>

    <div id="newPostForm" class="sezione round_div shadow-div">
        <p>Compila i seguenti campi per creare il tuo post.</p>
        <p>Ricorda che contenuti offensivi o che violano le regole verranno eliminati dai nostri amministratori.</p>
        <form name="creazionePost" action="newPostAction.php" method="POST" enctype="multipart/form-data">
            <div>
                <label for="title">Titolo:</label> 
                <div>
                    <input class="inputForm" type="text" name="titolo" id="title" placeholder="Inserisci un titolo..." required />
                </div>
            </div>
            <div>
                <label for="myfile">Carica un'immagine:</label>
                <div>
                    <input type="file" id="myfile" name="myfile" accept="image/gif, image/jpeg, image/png" />
                    <p>Formati consentiti: .gif /.jpeg / .png</p>
                    <p>Dimensione massima consentita: xxx mb</p>
                </div>
            </div>
            <div>
                <label for="altImmagine">Descrizione Immagine:</label> 
                <div>
                    <textarea class="inputForm" name="altImmagine" rows="5" cols="10" id="altImmagine" ></textarea>
                </div>
            </div>
            <div>
                <label for="content">Contenuto:</label> 
                <div>
                    <div id="comandiMarkdown">
                        <p>Consigli utili:</p>
                        <ul>
                            <li>Per inserire una parola in lingua inglese usare il comando .....</li>
                            <li>Per inserire una abbreviazione usare.....</li>
                            <li>..............</li>
                        </ul>
                    </div>  
                    <textarea class="inputForm" name="contenuto" rows="5" cols="10" id="content" placeholder="Inserisci il contenuto del post..." required></textarea>
                </div>
            </div>

            <button type="submit" class="round-button general-button">Invia</button>
            <a href="../index.php" class="linkToButton">Annulla</a>
        </form>
    </div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>