<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <title>Post e commenti - TwoNotes</title>
        <meta name="description" content="Pagina che visualizza il post scelto i relativi commenti"/>
        <meta name="keywords" content="TwoNotes, post, commenti"/>
        <meta name="author" content="Michele Baldisseri"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="../styles/print.css" media="print"/>
        <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
        <script src="../js/checkNewComment.js"></script>
    </head>

    <body>
        <div id="header">
            <a href="#singlePost" class="screenReaderOnly">Vai al contenuto</a>
            <h1><span xml:lang="en" lang="en">Two Notes</span></h1>
            <HEADERDESTRO/>
        </div>

        <div id="percorso">
            <p>Ti trovi in: <span id="breadcrumb-colore-parola"><a xml:lang="en" lang="en" href="index.php">Home</a> > Singolo <span xml:lang="en" lang="en">Post</span></span></p>
        </div>

        <div id="menu">
            <a href="#singlePost" class="screenReaderOnly">Vai al contenuto</a>

            <ul class="listaSenzaPunti">
                <li><a href="index.php">Home</a></li>
                <li><a href="aboutUs.php">Chi siamo</a></li>
                <li><a href="contatti.php">Contatti</a></li>
            </ul>
        </div>

        <SUCCESS/>   

        <div id ="singlePost" class="sezione round_div shadow-div">
            <DETTAGLIOPOST/>    
            <h2>Commenti su questo <span xml:lang="en" lang="en">post</span>:</h2>
            <NAVIGAZIONE/>
            <ul class="listaSenzaPunti">
                <LISTACOMMENTI/>   
            </ul>
            <NAVIGAZIONE/>
            <MESSAGGIOAUTENTICAZIONE/>

            <a href="#menu" class="screenReaderOnly">Vai al menù</a>  
        </div>

        <INSERIMENTOCOMMENTO/>

        <div id="footer">
            <img id="imgValidCode" src="../img/valid-xhtml10.png" alt="Badge di validazione HTML5"/>
            <img id="imgValidCSS" src="../img/vcss-blue.gif" alt="Badge di validazione CSS"/>
            <p>Sito creato per un progetto di Tecnologie <span xml:lang="en" lang="en">Web</span> all'Università di Padova - <span lang="en" xml:lang="en">All rights reserved</span> ©.</p>
        </div>
    </body>
</html>