<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Post e commenti - Two Notes</title>
    <meta name="title" content="Post e commenti - Two Notes"/>
    <meta name="description" content="Pagina che visualizza il post scelto i relativi commenti"/>
    <meta name="keywords" content="TwoNotes"/>
    <meta name="author" content="Giulio Zanatta"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        HEADERDESTRO
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola" xml:lang="en">Singolo Post</span></p>
    </div>

    <div id="menu">
        <ul class="listaSenzaPunti">
            <li><a href="../index.php">Home</a></li>
            <li><a href="../php/aboutUs.php">Chi siamo</a></li>
            <li><a href="../php/contatti.php">Contatti</a></li>
        </ul>
    </div>
        
    <div id ="singlePost" class="sezione round_div shadow-div">

        DETTAGLIOPOST  
        <!--LISTA COMMENTI -->   
        <h2>Commenti su questo post:</h2>
        <ul class="listaSenzaPunti">
            LISTACOMMENTI   
        </ul>
    </div>

    <div class="sezione round_div shadow-div">
        <form action="inserimentoCommento.php?idPost=ID_POST" method='post'>
            <label for="postTextarea">Inserisci qui il tuo commento:</label> 
            <textarea id="postTextarea" class="inputForm" name="contenuto" rows="5" cols="10" placeholder="Inserisci qui il tuo commento..." required="required"></textarea>
            <input type="submit" class="round-button general-button" value="Invia"></input>
        </form>
    </div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>