<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Post e commenti - Two Notes</title>
    <meta name="title" content="Post e commenti - Two Notes"/>
    <meta name="description" content="Pagina che visualizza il post scelto i relativi commenti"/>
    <meta name="keywords" content="TwoNotes"/>
    <meta name="author" content="Giulio Zanatta"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        HEADERDESTRO
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola" xml:lang="en">Singolo Post</span></p>
    </div>

    <div id="menu">
        <ul>
            <li><a href="../index.php">Home</a></li>
            <li><a href="../php/aboutUs.php">Chi siamo</a></li>
            <li><a href="../php/contatti.php">Contatti</a></li>
        </ul>
    </div>

    <div>     
        <!--<div id="contenitore-post" class="contenitoreCentrale allWidth">
            <div id="cover">
                <img src="../img/timmy.jpeg" alt=""/>
                   <div id="user-info">
                        <img src="../img/goofy.png" alt="Icona utente">
                    </div>
                    <p class="infoPost">
                        <a href="profiloUtente" class="linkToButton">Lele97</a><br/>
                        <a>08/12/2020 23:39</a>
                    </p>  
            </div>
            <div class="">
                <p class="">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat non proident, 
                    sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>      
        </div>-->

        <div id ="singlePost" class="sezione round_div shadow-div">
            <h1>TITOLO</h1><br/>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                culpa qui officia deserunt mollit anim id est laborum."</p>
            <div id="cover">
                <img src="../img/timmy.jpeg" alt="Copertina post riguardante la canzone"/>
            </div>
            <p class="infoPost">
                    Pubblicato da: <a href="profiloUtente" class="simpleLink">Lele97</a><br/>
                    <a>08/12/2020 23:39</a>
            </p></br>

            <!--LISTA COMMENTI -->
        
            <p>Commenti su questo post:</p>
            <ul>
                <li>
                    <div class="singleComment shadow-div round_div">
                            <a href="profiloUtente" class="linkToButton">Lele97</a><br/>
                            <div class="aComment">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est laborum."</p>
                            </div>
                            <span class="littleText">
                                <p>08/12/2020</p>
                                <p>23:39</p>
                            </span>
                    </div>
                </li>
                <li>
                    <div class="singleComment shadow-div round_div">
                            <a href="profiloUtente" class="linkToButton">Lele97</a><br/>
                            <div class="aComment">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est laborum."</p>
                            </div>
                            <span class="littleText">
                                <p>08/12/2020</p>
                                <p>23:39</p>
                            </span>
                    </div>
                </li>
                <li>
                    <div class="singleComment shadow-div round_div">
                            <a href="profiloUtente" class="linkToButton">Lele97</a><br/>
                            <div class="aComment">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                                    culpa qui officia deserunt mollit anim id est laborum."</p>
                            </div>
                            <span class="littleText">
                                <p>08/12/2020</p>
                                <p>23:39</p>
                            </span>
                    </div>
                </li>
            </ul>
        </div>

        <div id="commentIns" class="sezione round_div shadow-div">
            <p>Inserisci un commento</p>
            <div>
                <textarea class="inputComment" name="contenuto" rows="5" cols="10" id="commento" placeholder="Inserisci qui il tuo commento..." required>COMMENTO</textarea>                </div>
                <button type="submit" class="round-button general-button">Invia</button>
                <a href="../index.php" class="linkToButton">Annulla</a>
            </div>
        </div>

        <div>
            <!--Bottone per tornare in cima alla pagina-->
        <button id=backtotop class="round-button">Torna Su</button>
        </div>
    </div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>