<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Two Notes</title>
    <meta name="title" content="Two Notes"/>
    <meta name="description" content="Sito realizzato per un progetto per il corso di Tecnologie Web per realizzare un social di musica"/>
    <meta name="keywords" content="login, TwoNotes"/>
    <meta name="author" content="Michele Baldisseri"/>
    <meta name="language" content="italian it"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <img src="../img/TwoNotes-4.svg"  alt="Logo Two Notes caratterizzato dalla scritta Two Notes Unita da due note musicali sulla lettera o"/>
        HEADERDESTRO
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola">Profilo</span></p>
    </div>

    <div id="menu">
        <ul>
            <li><a xml:lang="en" href="../index.php">Home</a></li>
            <li><a href="aboutUs.php">Chi siamo</a></li>
            <li><a href="contatti.php">Contatti</a></li>
        </ul>
    </div>

    <div id="profile" class="contenitoreCentrale round_div shadow-div">
            <h1>Informazioni sull'utente</h1>
            <div id="profileSx">
                <div>
                    <h2 xml:lang="en">Username:</h2> 
                    <p>Lele97</p>
                </div>
                <div>
                    <h2>Nome:</h2> 
                    <p>Michele</p>
                </div>
                <div>
                    <h2>Cognome:</h2> 
                    <p>Baldisseri</p>
                </div>
                <div>
                    <h2>Sesso:</h2> 
                    <p>M</p>
                </div>
            </div>   
            <div id="profileDx">
                <div>
                    <h2>Provenienza:</h2> 
                    <p>San Pietro in Gu</p>
                </div>
                <div>
                    <h2>Data di nascita:</h2> 
                    <p>12/05/1997</p>
                </div>
                <div>
                    <h2>E-mail:</h2> 
                    <p>michele.baldi@gmail.com</p>
                </div>
                <div>
                    <h2>Ruolo:</h2> 
                    <p>Admin</p>
                </div>
            </div>     
            
            <a class="linkToButton" href="modificaProfilo.php">Modifica</a>
    </div>
    
    <div id="footer">
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>