<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Profilo - TwoNotes</title>
    <meta name="title" content="Profilo - TwoNotes"/>
    <meta name="description" content="Profilo utente registrato a TwoNotes"/>
    <meta name="keywords" content="TwoNotes, profilo"/>
    <meta name="author" content="Michele Baldisseri"/>
    <meta name="language" content="italian it"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../styles/stile.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../styles/print.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="../styles/stile_small.css" media="handheld, screen and (max-width:640px), only screen and (max-device-width:640px)"/>
</head>
<body>
    <div id="header">
        <a href="#listaPost" class="screenReaderOnly">Vai al contenuto</a>
        <img src="../img/TwoNotes-4.svg"  alt="Logo TwoNotes con due note musicali che collegano le lettere o"/>
        <HEADERDESTRO/>
    </div>

    <div id="percorso">
        <p>Ti trovi in: <span id="breadcrumb-colore-parola">Profilo</span></p>
    </div>

    <div id="menu">
        <a href="#profile" class="screenReaderOnly">Vai ai dettagli</a>

        <ul class="listaSenzaPunti">
            <li><a xml:lang="en" href="index.php">Home</a></li>
            <li><a href="aboutUs.php">Chi siamo</a></li>
            <li><a href="contatti.php">Contatti</a></li>
        </ul>
    </div>


    <div id="profile" class="sezione round_div shadow-div">
            <SUCCESS/>

            <h1>Informazioni sull'utente</h1>
            
            <ul class="listaSenzaPunti doubleColumns">
                <li>
                    <h2 xml:lang="en">Username:</h2> 
                    <p><USERNAME/></p>
                </li>
                <li>
                    <h2>Nome:</h2> 
                    <p><NOME/></p>
                </li>
                <li>
                    <h2>Cognome:</h2> 
                    <p><COGNOME/></p>
                </li>
                <li>
                    <h2>Sesso:</h2> 
                    <p><SESSO/></p>
                </li>
                <li>
                    <h2>Provenienza:</h2> 
                    <p><PROVENIENZA/></p>
                </li>
                <li>
                    <h2>Data di nascita:</h2> 
                    <p><DATANASCITA/></p>
                </li>
                <li>
                    <h2 xml:lang="en">Email:</h2> 
                    <p><EMAIL/></p>
                </li>
                <li>
                    <h2>Ruolo:</h2> 
                    <p><RUOLO/></p>
                </li>
            </ul>
            
            <LINKMODIFICA/>
            <LINKELIMINA/>

            <a href="#menu" class="screenReaderOnly">Vai al menù</a>
    </div>
    
    <div id="footer">
        <img id="imgValidCode" src="../img/valid-xhtml10.png" alt=""/>
        <img id="imgValidCSS" src="../img/vcss-blue.gif" alt=""/>
        <p>Sito creato per un progetto di Tecnologie <span xml:lang="en">Web</span> all'Università di Padova - <span xml:lang="en">All rights reserved</span> ©.</p>
    </div>
</body>
</html>