*{
	padding: 0em;
    margin: 0em;
    color: black;
}
html{
	font-family: Georgia, "Times New Roman", serif; 
	margin: auto;
}
h2{
    font-size: 1.1em;
    margin-bottom: 0.5em;
}
h3{
    font-size: 1em;
    margin: 0.5em 0 0.5em 0;
}
::placeholder{
    color: transparent;
}
p, input[type="submit"]{
    margin: 0.5em 0 0.5em 0;
}
#menu, #header, .adminLink, .screenReaderOnly, #footer{
    display: none;
}
#percorso{
    border-top: 0.1em solid black;
    border-bottom: 0.1em solid black;
    margin-bottom: 0.5em;
}
#breadcrumb-colore-parola{
    font-weight: bold;
}
/*
=============
SEZIONE INDEX
=============
*/
#search, .printHide, .goToPost{
    display: none;
}
#listaPost li{
    border-top: 0.1em dotted black;
}
.postContent img{
    width: 20%;
}
.navigazione a{
    display: none;
}
.navigazione{
    margin-bottom: 0.5em;
    text-align: center;
}
.navigazione li:first-child,
.navigazione li:last-child{
    display: none;
}

/*
===================
SEZIONE SINGLE POST
===================
*/
#singlePost img{
    width: 20%;
}
#singlePost h3{
    font-size: 0.9em;
}
.singleComment{
    border-bottom: 0.1em dotted black;
}
#newComment{
    display: none;
}

#singlePost .showItem {
    display: contents;
    text-decoration: none;
}
/*
================
SEZIONE CONTATTI
================
*/
.image{
    display: none;
}
.showItem{
    display: contents;
    text-decoration: none;
}
#content em{
    white-space: nowrap;
    font-weight: bold;
}
/*
===============
SEZIONE PROFILO
===============
*/
.sezione a{
    display: none;
}
/*
================
SEZIONE NEW POST
================
*/
#newPostForm label,#newPostForm input{
    display: block;
    margin: 0.5em 0 0.5em 0;
}
#newPostForm textarea{
    width: 40%;
    resize: none;
}
#newPostForm a{
    display: none;
}
/*
=====================
SEZIONE REGISTRAZIONE
=====================
*/
#formBase a{
    display: none;
}
#formBase label{
    display: block;
    margin: 0.5em 0 0.5em 0;
}
#formBase fieldset, #formBase legend{
    padding: 0 0.6em 0.6em 0.6em;
}
#formBase legend{
    margin: 0;
}