/*
==============
    Home
==============
*/
#header ul li{
    display: block;
    text-align: center;
}
#header div{
    margin-top: 0;
}

#menu{
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
}

#menu li{
    padding: 0;
    margin-top: 1.2em;
}

#indexContent{
    width: 100%;
    margin: auto;
}

#search{
    width: 90%;
}

/*
==============
    Generale
==============
*/
.sezione{
    width: 85%;
    margin: auto;
}
.sezione h1{
    font-size: 1.8em;
}
.contenitoreCentrale{
    margin: auto;
    width: 95%;
}
.doubleColumns{
    columns: 1;
}
/*
==============
    Singolo Post
==============
*/

#singlePost{
    width: 85%;
    margin-bottom: 1em;
}
#singlePost img{
    width: 50%;
}

/*
==============
    Nuovo Post
==============
*/
#newPostForm p{
    text-align: center;
}

.inputForm{
    padding: 0em;
    width: 90%;
}
/*
==============
  Registrazione
==============
*/

#formBase{
    text-align: center;
}
#formBase input{
    margin: auto;
    width: 80%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
#formBase label{
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
}
#formBase input[type="submit"]{
    margin-top: 1em;
    width: 40%;
}
#formBase input[type="submit"],
#annulla{
    display: inline;
}
/*
==============
  Modifica profilo - Registrazione
==============
*/
.inputsex{
    display: block;
    text-align: center;
    margin-left: 10%;
}
#formBase input[type="radio"]{
    margin-top: 0.8em;  
}
/*
==============
  Profilo
==============
*/

#profile{
    text-align: center;
    height: 100%;
}
#profile li{
    margin: 0.8em 0 0.8em 0;
}
#profile h1{
    margin-bottom: 0;
}
#profile h2,#profile p{
    display: block;
    margin: 0;
    padding: 0;
}
#profile a{
    float: none;
    margin: auto;
}
/*
==============
  Login
==============
*/
.contenitoreCentrale{
    height: 50em;
}
#dentroLeft{
    width: 96.5%;
    height: auto;
    display: inline;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0.5em;
}
#dentroLeft h1{
    padding: 1em 0em 1em 0em;
    font-size: 1.5em;
}
#dentroLeft img{
    width: 60%;
}
#dentroRight{
    width: 95%;
    margin-right: 0em;
    height: auto;
    margin-left: 0%;
    padding-top: 1em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
#dentroRight h2{
    font-size: 1.9em;
    padding: 0.5em 0em 0.5em 0em;
}
#formLogin label{
    font-size: 1.5em;
}