/*
==============
    Home
==============
*/
#header ul li{
    display: block;
    text-align: center;
}
#header div{
    margin-top: 0;
}
#menu{
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
}
#menu li{
    padding: 0;
    margin-top: 1.2em;
}
#indexContent{
    width: 100%;
    margin: auto;
}
#search{
    width: 90%;
}

#footer img{
    margin: 1em 0em 0em 0.2em;
}
.postContent{
    margin-top: 1em;
}
.navigazione{
    font-size: 12px;
}
/*
==============
    Generale
==============
*/
.screenReaderOnly:focus{
    display: block;
    margin: 0.5em 0em 0.5em 0.5em;
    margin-top: 1em;
    width: 12em;
}
.sezione{
    width: 85%;
    margin: auto;
}
.sezione p {
    margin-bottom: 1.5em;
}
.sezione h1{
    font-size: 1.7em;
}
.contenitoreCentrale{
    margin: auto;
    width: 85%;
}
.doubleColumns{
    columns: 1;
}
#content img{
    display: none;
}
/*
==============
    Singolo Post
==============
*/
#singlePost{
    width: 85%;
    margin-bottom: 1em;
}
#singlePost img{
    width: 50%;
}
/*
==============
    Nuovo Post
==============
*/
#newPostForm p{
    text-align: center;
}

.inputForm{
    padding: 0em;
    width: 90%;
}
/*
==============
  Registrazione
==============
*/
#formBase{
    text-align: center;
}
#formBase h1{
    font-size: 1.5em;
}
#formBase fieldset{
    margin-top: 0;
}
#formBase input{
    margin: auto;
    width: 90%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
#formBase label{
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
}
.labelleft{
    padding: 0.5em 0 0.2em 0;
}

#formBase input[type="submit"]{
    margin-top: 1em;
    width: 40%;
}
#formBase input[type="submit"],
#annulla{
    display: inline;
}
/*
==============
  Modifica profilo - Registrazione
==============
*/

#formBase input[type="radio"]{
    margin-top: 1em;
}
#gender{
    width: 80%;
    margin: auto;
}
/*
==============
  Profilo
==============
*/
#profile{
    text-align: center;
    height: 100%;
}
#profile li{
    margin: 0.8em 0 0.8em 0;
}
#profile h1{
    margin: 0;
}
#profile h2,#profile p{
    display: block;
    margin: 0;
    padding: 0;
}
/*
==============
  Login
==============
*/
.login{
    padding-bottom: 1.5em;
}
.login h1{
    display: none;
}
.login img{
    display: none;
}
.login h2{
    padding: 0em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 1.3em;
}
.login form{
    width: 100%;
    margin-left: 0%;
}
.login input[type="text"],
.login input[type="password"]{
    width: 90%;
    padding: 0.2em;
    margin-bottom: 5%;
    margin-top: 3%;
}
.login input[type="submit"]{
    margin-bottom: 0.2em;
}
.login input[type="button"]{
    margin-top: -0.3em;
}
#button_register{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    margin-bottom: 0em;
}
#formLogin label{
    font-size: 1.2em;
}