/*
===================
SEZIONE GENERALE
===================
*/
* {
    padding: 0em;
    margin: 0em;
}

html {
    width: 100%;
    background-color: #69b2ee;
}
body {
    margin: auto;
    max-width: 1400px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*
===================
SEZIONE HOME
===================
*/
/*Menu a sinistra*/
#menu{
    float: left;
    width: 20%;
    padding: 0.8em;
    font-size: 1.1em;
    height: 100%;
    background-color: whitesmoke;
}

#menu ul{
    list-style-type: none;
}

#menu ul li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;   
    text-align: center; 
    font-weight: bold;
}

/*barra destra dei tags*/
#rightSidebar{
    float: right;  
    width: 20%;
    padding: 0.5em;
    height: fit-content;
    background-color: whitesmoke;
}
#rightSidebar ul{
    list-style-type: none;
}
#rightSidebar h2{
    text-align: center;
    padding: 0.5em;
}
#rightSidebar ul li{
    text-align: center;
    padding: 0.5em;
}
/*breadcrumb*/
#percorso{
    background-color: #005eac;
}
#percorso p{
    padding: 0.5em;
    font-size: 1.3em;
    color: white;
}
/*colore della parola della pagina dove ci troviamo*/
.breadcrumb-colore-parola{
    color: rgb(226, 203, 98);
}

/*li che contiene un post*/
.postLi{
    margin: auto;
    height: fit-content;
    padding: 0.5em;
    max-width: 45%;
    background-color: #005eac;
    margin-top: 1em;
    list-style-type: none;
}
/*questa regola era solo per mettere come contenuto il logo si può poi togliere*/
.immaginePostProva img{
    width: 30em;
}
/*
/*
===================
SEZIONE CONTENITORE
===================
*/

.contenitoreCentrale{
    position: relative;
    width: 55em;
    height: 35em;
    margin: 0 auto;
    margin-top: 6em;
}

.allwidth{
    padding: 1em 0 1em 0;
    height: auto;
    display: block;
}

.general-button{
    padding:10px;
    margin: 10px;
    font-size: 17px;
}

/*
===================
SEZIONE ABOUT US
===================
*/

.content_aboutUs{
    background-color: bisque;
    margin: auto;
    margin-top: 6em;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
    padding: 1em;
    max-width: 50em;
}

.content_aboutUs p {
    font-size: 1.5em;
    padding: 0.5em;
}

.content_aboutUs img{
    display: block;
    max-width: 30em;
    max-height: 30em;
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;  
}

/*
===================
SEZIONE HEADER
===================
*/
#header{
    padding: 1.0em;
    min-height: 3em;
    background-color: whitesmoke;
    box-shadow: 3px 3px 20px 3px #ccc;
}
#header div{
    margin-top: 0.7em;
    float: right;
}
#header img{
    width:100px;
}

#header ul li{
    display: inline;
    font-weight: bold;
    margin: 5px 5px 5px 0;
}

/*
===================
SEZIONE LOGIN PAGE
===================
*/

.height_login{
    height: 95%;
}
.shadow-div{
    box-shadow: 3px 3px 20px 3px #ccc;
}

.round_div{
    border-radius: 10px 10px 10px 10px;
    
}

/*
==================
SEZIONE LEFT
==================
*/
.left{
    float: left;
}

.orange_left {
    background-color: #ff4b2bc4;
    width: 60%;
    height: 97.3%;
    padding: 0.5em;
}
.left-border-radius{
    border-radius: 10px 0px 0px 10px
}
.right-border-radius{
    border-radius: 0px 10px 10px 0px;
}
#dentroLeft{
    padding: 9em 0em 0em 4em;
}
#dentroLeft img{
    width: 400px;
}

/*
==================
SEZIONE RIGHT
==================
*/
.right{
    float: right;
}

.white_right {
    background-color: white;
    width: 36.35%;
    height: 97.3%;
    padding: 0.5em;
}
#dentroRight{
    height: 100%;
}

/*
==================
SEZIONE BOTTONI
==================
*/

.general-button{
    padding:10px;
    margin: 10px;
    font-size: 17px;
}
.textAccedi{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em 0 1em 0;
}
.formAccedi{
    text-align: center;
    padding: 0em 1em 1em 1em;
}
.textOppure{
    padding: 0em 0 1em 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.textForm{
    padding: 1em 0 0em 0;
    font-size: 1.3em;
    font-weight: bold;
}
.input{
    width: 95%;
    height: 30px;
    padding-left: 1em;
    font-size: 1.0em;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(148, 148, 148);
}

/*.buttonAccedi{
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 1em 3em 1em 3em;
    font-size: 1.3em;
    font-weight: bold;
}*/

.orange-button{
    background-color: #ff4b2bc4;
}
.yellow-button{
    background-color: #ffd82bc4;
}
.round-button{
    border: none;
    border-radius: 20px 20px 20px 20px;
    font-size: 1.3em;
    font-weight: bold;
}
.buttonRegistrati{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonRegistrati a{
    text-decoration: none;
    color: black;
}
#bottone{
    width: 10%;
    padding-left: 22em;
    padding-top: 1em;
}

/* 
======================
SEARCH BAR - Home Page 
======================
*/
#search{
    margin: auto;
    height: 4em;
    padding: 0.5em;
    width: 50%;
    margin-top: 1em;
}
.search-form{
    width: 80%;
}
.search-form form{
    width: 100%;
}
#search input[type="text"]{
    width: 40%;
    margin: 10px;
    padding: 10px;
    font-size: 17px;
    background: #f1f1f1;
    line-height: 20px;
    border-radius: 15px;
    border: 1px;
}
#search input:hover{
    box-shadow: 3px 3px 20px 3px #ccc
}
#search-button{
    background: #005eac;
    color: white;
    border-left: none;
    cursor: pointer;
}

.post-container{
    margin-top: 15px;
   
}
#post-btn{
    float: right;
    background-color: whitesmoke;
    cursor: pointer;
}
/*
================= 
PULSANTE TORNA SU
=================
*/
#backtotop{
    position: relative;
    bottom: 0;
    padding: 1em;
    margin: 2em;
    top: 30em;
    
}
/*
=====================
SEZIONE REGISTRAZIONE
=====================
*/

#registrazione{
    padding: 0em 1em 0em 1em;
}
#registrazione div{
    width: 48%;
}
#registrazione h2{
    text-align: center;
    font-size: 2em;
    padding: 1em;
}
.regleft{
    float: left!important;
}
.formRegistrazione{
    padding-left: 2em;
    padding-right: 2em;
}
.sesso{
    height: 6em;
}
input[type="radio"] {
    width: 12%;
    text-align: right;
}
label[for="username"] p{
    padding-top: 1.5em;
}
label[for="maschio"], label[for="femmina"], label[for="altro"]{
    font-size: 1.2em;
}

/*
==============
SEZIONE FOOTER
==============
*/
#footer {
    margin-top: 1em;
    color:white;
    text-align: center;
    font-size: 0.7em;
    padding: 2em 0 2.0em 1.0em;
    font-style: italic;
    background-color: #005eac;
}