* {
    padding: 0em;
    margin: 0em;
}
html {
    width: 100%;
}
body {
    margin: auto;
    background-color: rgba(241, 241, 241, 0.911);
}
#header{
    color: black;
    padding: 1.5em 0 1.0em 1.0em;
}
#header img{
    width:70px;
}
#header ul,li{
    display: inline;
    font-weight: bold;
}
#header li{
    padding: 1em;
}
#contenitoreGenerale{
    padding: 1.5em 0 0 0;
    margin: 0 auto;
    width: 55em;
    height: 35em;
    position: relative;
}
.height_login{
    height: 95%;
}
.round_div{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.orange_left {
    background-color: #ff4b2bc4;
    width: 60%;
    height: 97.3%;
    padding: 0.5em;
}
.left{
    float: left;
}
.left_border{
    border-radius: 10px 0px 0px 10px
}
.right{
    float: right;
}
.right_border{
    border-radius: 0px 10px 10px 0px;
}
#dentroLeft{
    padding: 9em 0em 0em 4em;
}
#dentroLeft img{
    width: 400px;
}
.white_right {
    background-color: white;
    width: 36.35%;
    height: 97.3%;
    padding: 0.5em;
}
#dentroRight{
    height: 100%;
}
.textAccedi{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em 0 1em 0;
}
.formAccedi{
    text-align: center;
    padding: 0em 1em 1em 1em;
}
.textOppure{
    padding: 0em 0 1em 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.textForm{
    padding: 1em 0 0em 0;
    font-size: 1.3em;
    font-weight: bold;
}
.input{
    width: 95%;
    height: 30px;
    padding-left: 1em;
    font-size: 1.0em;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(148, 148, 148);
}
.spazio{
    padding: 1em;
}
.buttonAccedi{
    background-color: #ff4b2bc4;
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 1em 3em 1em 3em;
    font-size: 1.3em;
    font-weight: bold;
}
.bottone{
    background-color: #ffd82bc4;
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 1em 3em 1em 3em;
    font-size: 1.3em;
    font-weight: bold;
}
#buttonRegistrati{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer {
    color: black;
    text-align: center;
    font-size: 0.7em;
    padding: 2em 0 2.0em 1.0em;
    font-style: italic;
}