html, body {
    overflow-x: hidden;
  }
body {
    position: relative
}
/*
==============
    Home
==============
*/
#menu{
    float: none;
    width: 100%;
}

#indexContent{
    width: 100%;
    margin: auto;
}
#search{
    width: 90%;
}
#search input[type="text"]{
    width: 40%;
}
/*
==============
    Generale
==============
*/
.sezione{
    width: 85%;
    margin: auto;
}
.contenitoreCentrale{
    margin: auto;
    width: 95%;
}
.doubleColumns{
    columns: 1;
}
/*
==============
    Singolo Post
==============
*/

#singlePost{
    margin-bottom: 1em;
}
/*
==============
    Singolo Post
==============
*/
#newPostForm p{
    text-align: center;
}

.inputForm{
    width: 90%;
}
/*
==============
  Registrazione
==============
*/

#formBase{
    text-align: center;
}
#formBase input{
    margin: auto;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
#formBase label{
    text-align: center;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
}
#formBase input[type="submit"]{
    margin-top: 1em;
}
#formBase input[type="submit"],
#annulla{
    display: inline;
}
/*
==============
  Modifica profilo - Registrazione
==============
*/
.inputsex{
    display: block;
    text-align: center;
    margin-left: 10%;
}
#formBase input[type="radio"]{
    margin-top: 0.8em;  
}